<div class="navbar navbar-inverse">
	<div class="navbar-inner">
		<div class="container-fluid">
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a class="brand" href="./"><img class="nav-logo" src="img/logo.png"></a></li>
				</ul>
				<ul class="nav pull-right">
					<li id="navEdit"><a href="edit.html"><i class="icon-th-large icon-white" /> 作る</a></li>
					<li id="navHelp"><a href="help.html"><i class="icon-question-sign icon-white" /> ヘルプ</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
