{{{nav}}}

<div class="container-fluid container-fluid-body">

	<div class="alert alert-success">
		<!--
		直方体を共有するサイトCubox
		-->
		iPhone 5 でご利用ください。
		<button type="button" class="close" data-dismiss="alert">×</button>
	</div>

	<!--============ ローカル作品 ============-->
	<h5>ローカルストレージの作品</h5>
	<select id="localCuboidsOrder" class="cuboids-sort">
		<option value="date">投稿日順</option>
		<!--<option value="count">閲覧数順</option>
		<option value="random">ランダム</option>-->
	</select>
	<div id="localCuboids">
	</div>
	<!--
	<button id="moreLocalCuboids" class="btn btn-large btn-inverse" type="button" style="width:100%; margin-top:6px; margin-bottom: 12px;">もっと見る</button>
	-->
	
	<!--============ みんなの作品 ============-->
	<h5>みんなの作品</h5>
	<select id="cuboidsOrder" class="cuboids-sort">
		<option value="date">投稿日順</option>
		<!--<option value="count">閲覧数順</option>
		<option value="random">ランダム</option>-->
	</select>
	<div id="cuboids">
		<a href="edit.html#remote:arduino"><img src="cuboid/img/arduino.jpg" class="thumb" /></a>
		<a href="edit.html#remote:pretz"><img src="cuboid/img/pretz.jpg" class="thumb" /></a>
		<a href="edit.html#remote:ocha"><img src="cuboid/img/ocha.jpg" class="thumb" /></a>
		<a href="edit.html#remote:cheese"><img src="cuboid/img/cheese.jpg" class="thumb" /></a>
		<a href="edit.html#remote:objc"><img src="cuboid/img/objc.jpg" class="thumb" /></a>
		<!--<a href="edit.html#remote:jump"><img src="cuboid/img/jump.jpg" class="thumb" /></a>-->
	</div>
	<!--
	<button id="moreCuboids" class="btn btn-large btn-inverse" type="button" style="width:100%; margin-top:6px; margin-bottom: 12px;">もっと見る</button>
	-->
	
</div>
